.container {
	margin: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	gap: 1em;
}

.regionImg {
	border-radius: 15px;
	width: 25vh;
	height: 30vh;
}

.regionImg > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 15px;
}

.regionInfo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
}

.regEngName {
	color: blue;
	font-size: 1em;
	font-weight: 800;
}

.regionName {
	font-size: 2em;
	font-weight: 700;
}
