.container {
	margin: 2em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.label {
	margin: 0.6em;
	font-size: 1.4em;
	font-weight: 700;
}

.inputbox {
	margin: 0.6em;
	width: 12em;
	height: 4em;
	border: 3px solid black;
	border-radius: 12px;
}
