.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.titletext {
	font-size: 1.6em;
	font-weight: 700;
	margin: 1em;
}

.btn {
	width: 80vh;
	border: 2px solid black;
	border-radius: 20px;
	padding: 0.6em;
	margin: 1em;
}

.searchBtn {
	padding: 0.2em;
	font-weight: 700;
}

.regionCard {
	margin-top: 2em;
	display: flex;
	flex-direction: row;
	gap: 1em;
}
